/**
 * 버튼 스타일
 */

.btn-large,
.btn-medium,
.btn-small {
  cursor: pointer;
  background: none;
  padding: 0;
  transition: var(--btn-transition);
}

.btn-large {
  width: 88px;
  height: 88px;
  border-radius: 50%;
}

.btn-large:hover {
  opacity: 0.8;
}

.btn-medium {
  width: 56px;
  height: 56px;
}

.btn-medium:hover {
  opacity: 0.75;
}

.btn-small {
  width: 40px;
  height: 40px;
}

.btn-small:hover {
  opacity: 0.7;
}
