:root {
  /* 글로벌 변수 */
  --shadow-color: rgba(0, 0, 0, 0.12);
}

body {
  background-color: gray;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* 클릭 후 잔상이 남는 현상 제거 */
* {
  box-sizing: border-box;
  outline: none;
  border: none;
}

.shadow {
  filter: drop-shadow(0px 4px 12px var(--shadow-color));
}
