/**
 * 음악 정보 (제목, 아티스트) 스타일
 */

#musicArtistTextBox {
  margin-top: 16px;
  padding: 20px 0;
}

#musicArtistTextBox > input[type='text'] {
  display: block;
  width: 100%;
  font-family: 'A2Z', sans-serif;
  text-align: center;
  margin: 0;
  padding: 2px 0 8px 0;
  line-height: 1.6;
  background-color: transparent;
  color: white;
  overflow: visible;
}

#musicArtistTextBox > #musicTitle {
  font-size: 42px;
  font-weight: 600;
}

#musicArtistTextBox > #artistName {
  font-size: 25px;
  font-weight: 200;
  opacity: 70%;
  line-height: 1.6;
}
