/* src/fonts/atoz/atoz.css */

@font-face {
  font-family: 'A2Z';
  src: url('./woff2/A2Z-1Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2Z';
  src: url('./woff2/A2Z-2ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2Z';
  src: url('./woff2/A2Z-3Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2Z';
  src: url('./woff2/A2Z-4Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2Z';
  src: url('./woff2/A2Z-5Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2Z';
  src: url('./woff2/A2Z-6SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2Z';
  src: url('./woff2/A2Z-7Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2Z';
  src: url('./woff2/A2Z-8ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2Z';
  src: url('./woff2/A2Z-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}